.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--mat-sys-tertiary);
  color: var(--mat-sys-on-tertiary);
  border-bottom: 2px solid var(--mat-sys-tertiary);
  box-shadow:
    0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);

  &__app-name {
    padding-left: 0.5rem;
  }

  &__theme-switcher {
    margin-left: auto;
    color: var(--mat-sys-on-primary);
  }

  @media (min-width: 768px) {
    & {
      font: var(--mat-sys-headline-medium);
    }
  }

  @media (min-width: 992px) {
    & {
      font: var(--mat-sys-headline-large);
    }
  }
}
