<div class="json-form-builder">
  <div class="json-form-builder__column">
    <app-form-input [formInput]="formInput" (changeFormInput)="onChangeFormInput($event)"> </app-form-input>

    <!--    <pre><code class="language-javascript code">{{pretty}} </code></pre>
    <textarea
      className="textarea"
      [(ngModel)]="pretty"
      [ngModelOptions]="{ standalone: true }"
      placeholder="Ex. It makes me feel..."></textarea> -->
  </div>

  <div class="json-form-builder__column">dd</div>
</div>
